In [1]:
# Load libraries
import os
import numpy as np
import pandas as pd

In [2]:
# Define List of keywords 
list_keywords = [
    "Anies Baswedan", 
    "Muhaimin Iskandar",
    "Ganjar Pranowo", 
    "Mahfud MD",
    "Gibran Rakabuming",
    "Prabowo Subianto"
]

### Anies Baswedan

In [3]:
# Define path dataset
path_dataset = [
    "twitter_data/Anies_Baswedan_1.csv", 
    "twitter_data/Anies_Baswedan_1.2_.csv"
]
target_result = "final_dataset/twitter_anies_baswedan.csv"

In [5]:
# Read dataset
data_1 = pd.read_csv(path_dataset[0].replace("\r", "/r"), sep=";")
data_1 = data_1.replace("", np.nan)

In [6]:
# Read dataset
data_2 = pd.read_csv(path_dataset[1].replace("\r", "/r"), sep=";")
data_2 = data_2.replace("", np.nan)

In [7]:
# Overview dataset
data_1.shape, data_2.shape

((224, 12), (495, 12))

In [8]:
# Overview dataset
data_1.isna().sum()

created_at             0
id_str                 0
full_text              0
quote_count            0
reply_count            0
retweet_count          0
favorite_count         0
lang                   0
user_id_str            0
conversation_id_str    0
username               0
tweet_url              0
dtype: int64

In [9]:
# Overview dataset
data_2.isna().sum()

created_at             0
id_str                 0
full_text              0
quote_count            0
reply_count            0
retweet_count          0
favorite_count         0
lang                   0
user_id_str            0
conversation_id_str    0
username               0
tweet_url              0
dtype: int64

In [10]:
# Overview dataset
data_1.head()

,created_at,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url
0,Wed Nov 29 23:59:56 +0000 2023,1730013756275699835,@DPP_PKB @aniesbaswedan @cakimiNOW Pemerataan ...,0,0,0,1,in,351779019,1729813504528650579,ArdyKobar,https://twitter.com/ArdyKobar/status/173001375...
1,Wed Nov 29 23:59:49 +0000 2023,1730013728538776013,@voiceofpkb @aniesbaswedan @cakimiNOW AMIN pem...,0,0,0,0,in,1591443470840782848,1729799082166952113,rz_sani,https://twitter.com/rz_sani/status/17300137285...
2,Wed Nov 29 23:59:40 +0000 2023,1730013691972923743,@DPP_PKB @aniesbaswedan @cakimiNOW Mantaaapppp,0,0,0,0,in,1618525026264973313,1729795434812731393,VincentVf4,https://twitter.com/VincentVf4/status/17300136...
3,Wed Nov 29 23:59:40 +0000 2023,1730013689758224665,@voiceofpkb @aniesbaswedan @cakimiNOW Amin Unt...,0,0,0,1,in,1690723500670193664,1729739988970213732,HendrikHar40798,https://twitter.com/HendrikHar40798/status/173...
4,Wed Nov 29 23:59:37 +0000 2023,1730013678051950693,@DPP_PKB @aniesbaswedan @cakimiNOW üëç,0,0,0,0,qme,911893655685709825,1729795434812731393,HosniselH,https://twitter.com/HosniselH/status/173001367...

In [11]:
# Overview dataset
data_2.head()

,created_at,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url
0,Wed Nov 29 23:59:56 +0000 2023,1730013756275699835,@DPP_PKB @aniesbaswedan @cakimiNOW Pemerataan ...,0,0,0,1,in,351779019,1729813504528650579,ArdyKobar,https://twitter.com/ArdyKobar/status/173001375...
1,Wed Nov 29 23:59:49 +0000 2023,1730013728538776013,@voiceofpkb @aniesbaswedan @cakimiNOW AMIN pem...,0,0,0,0,in,1591443470840782848,1729799082166952113,rz_sani,https://twitter.com/rz_sani/status/17300137285...
2,Wed Nov 29 23:59:40 +0000 2023,1730013691972923743,@DPP_PKB @aniesbaswedan @cakimiNOW Mantaaapppp,0,0,0,0,in,1618525026264973313,1729795434812731393,VincentVf4,https://twitter.com/VincentVf4/status/17300136...
3,Wed Nov 29 23:59:40 +0000 2023,1730013689758224665,@voiceofpkb @aniesbaswedan @cakimiNOW Amin Unt...,0,0,0,1,in,1690723500670193664,1729739988970213732,HendrikHar40798,https://twitter.com/HendrikHar40798/status/173...
4,Wed Nov 29 23:59:37 +0000 2023,1730013678051950693,@DPP_PKB @aniesbaswedan @cakimiNOW üëç,0,0,0,0,qme,911893655685709825,1729795434812731393,HosniselH,https://twitter.com/HosniselH/status/173001367...

In [14]:
# Concatenate dataset
data = pd.concat([data_1, data_2]).drop_duplicates(subset = ['tweet_url']).reset_index(drop = True)

# Check dimension
data.shape

(559, 12)

In [15]:
# Save Result
data.to_csv(target_result, index=False)

### Muhaimin Iskandar

In [16]:
# Define path dataset
path_dataset = [
    "twitter_data/Muhaimin_Iskandar_1.csv",
    "twitter_data/Muhaimin_Iskandar_1.2_.csv"
]
target_result = "final_dataset/twitter_muhaimin_iskandar.csv"

In [17]:
# Read dataset
data_1 = pd.read_csv(path_dataset[0].replace("\r", "/r"), sep=";")
data_1 = data_1.replace("", np.nan)

In [18]:
# Read dataset
data_2 = pd.read_csv(path_dataset[1].replace("\r", "/r"), sep=";")
data_2 = data_2.replace("", np.nan)

In [19]:
# Overview dataset
data_1.shape, data_2.shape

((663, 12), (611, 12))

In [20]:
# Overview dataset
data_1.isna().sum()

created_at             0
id_str                 0
full_text              0
quote_count            0
reply_count            0
retweet_count          0
favorite_count         0
lang                   0
user_id_str            0
conversation_id_str    0
username               0
tweet_url              0
dtype: int64

In [21]:
# Overview dataset
data_2.isna().sum()

created_at             0
id_str                 0
full_text              0
quote_count            0
reply_count            0
retweet_count          0
favorite_count         0
lang                   0
user_id_str            0
conversation_id_str    0
username               0
tweet_url              0
dtype: int64

In [22]:
# Overview dataset
data_1.head()

,created_at,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url
0,Wed Nov 29 23:54:22 +0000 2023,1730012354862354874,Persiapan konsolidasi Nasional AMIN @cakimiNOW...,0,0,0,0,in,1662770465344200706,1730012354862354874,kakinun2,https://twitter.com/kakinun2/status/1730012354...
1,Wed Nov 29 23:39:06 +0000 2023,1730008516260483332,Duet AMIN pede menghadapi debat Pilpres 2024 y...,1,1,3,16,in,759692754985242625,1730008516260483332,kumparan,https://twitter.com/kumparan/status/1730008516...
2,Wed Nov 29 22:57:14 +0000 2023,1729997976809202149,Yuk dukung terus AMIN dan doakan Indonesia seg...,0,0,0,0,in,16184521,1729997976809202149,f_nusantara,https://twitter.com/f_nusantara/status/1729997...
3,Wed Nov 29 22:22:36 +0000 2023,1729989264572858784,@DPP_PKB @cakimiNOW @aniesbaswedan Selalu kerj...,0,0,0,0,in,1602168753307148289,1729797180427223399,BakriSella,https://twitter.com/BakriSella/status/17299892...
4,Wed Nov 29 22:10:04 +0000 2023,1729986108984102927,Tim Nasional Pemenangan calon presiden dan ca...,0,0,0,3,in,23343960,1729986108984102927,kompascom,https://twitter.com/kompascom/status/172998610...

In [23]:
# Overview dataset
data_2.head()

,created_at,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url
0,Wed Nov 29 23:54:22 +0000 2023,1730012354862354874,Persiapan konsolidasi Nasional AMIN @cakimiNOW...,0,0,0,0,in,1662770465344200706,1730012354862354874,kakinun2,https://twitter.com/kakinun2/status/1730012354...
1,Wed Nov 29 23:39:06 +0000 2023,1730008516260483332,Duet AMIN pede menghadapi debat Pilpres 2024 y...,1,1,3,16,in,759692754985242625,1730008516260483332,kumparan,https://twitter.com/kumparan/status/1730008516...
2,Wed Nov 29 22:57:14 +0000 2023,1729997976809202149,Yuk dukung terus AMIN dan doakan Indonesia seg...,0,0,0,0,in,16184521,1729997976809202149,f_nusantara,https://twitter.com/f_nusantara/status/1729997...
3,Wed Nov 29 22:22:36 +0000 2023,1729989264572858784,@DPP_PKB @cakimiNOW @aniesbaswedan Selalu kerj...,0,0,0,0,in,1602168753307148289,1729797180427223399,BakriSella,https://twitter.com/BakriSella/status/17299892...
4,Wed Nov 29 22:10:04 +0000 2023,1729986108984102927,Tim Nasional Pemenangan calon presiden dan ca...,0,0,0,3,in,23343960,1729986108984102927,kompascom,https://twitter.com/kompascom/status/172998610...

In [24]:
# Concatenate dataset
data = pd.concat([data_1, data_2]).drop_duplicates(subset = ['tweet_url']).reset_index(drop = True)

# Check dimension
data.shape

(663, 12)

In [25]:
# Save Result
data.to_csv(target_result, index=False)

### Ganjar Pranowo

In [26]:
# Define path dataset
path_dataset = [
    "twitter_data/Ganjar_Pranowo_1.2_.csv"
]
target_result = "final_dataset/twitter_ganjar_pranowo.csv"

In [27]:
# Read dataset
data_1 = pd.read_csv(path_dataset[0].replace("\r", "/r"), sep=";")
data_1 = data_1.replace("", np.nan)

In [28]:
# # Read dataset
# data_2 = pd.read_csv(path_dataset[1].replace("\r", "/r"), sep=";")
# data_2 = data_2.replace("", np.nan)

In [29]:
# Overview dataset
data_1.shape#, data_2.shape

(1256, 12)

In [30]:
# Overview dataset
data_1.isna().sum()

created_at             0
id_str                 0
full_text              0
quote_count            0
reply_count            0
retweet_count          0
favorite_count         0
lang                   0
user_id_str            0
conversation_id_str    0
username               0
tweet_url              0
dtype: int64

In [31]:
# # Overview dataset
# data_2.isna().sum()

In [32]:
# Overview dataset
data_1.head()

,created_at,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url
0,Wed Nov 29 23:59:57 +0000 2023,1730013761703153770,@ganjarpranowo Pak Ganjar selalu memikirkan ke...,0,0,0,0,in,1706239233822998528,1729694492675182824,exjplore,https://twitter.com/exjplore/status/1730013761...
1,Wed Nov 29 23:59:51 +0000 2023,1730013735291691274,@ganjarpranowo @mohmahfudmd Sambutan yang sang...,0,0,0,0,in,1440653524094767106,1729814315337945468,Siyueee890,https://twitter.com/Siyueee890/status/17300137...
2,Wed Nov 29 23:59:50 +0000 2023,1730013730271064150,@ganjarpranowo Mari kita sama-sama wujudkan In...,0,0,0,0,in,1632607703255371776,1729694492675182824,Nengchu77,https://twitter.com/Nengchu77/status/173001373...
3,Wed Nov 29 23:59:42 +0000 2023,1730013700533444776,@ganjarpranowo @mohmahfudmd Keren liat semanga...,0,0,0,0,in,1705830967141875712,1729814315337945468,IrawanJafi3105,https://twitter.com/IrawanJafi3105/status/1730...
4,Wed Nov 29 23:59:39 +0000 2023,1730013686360924478,@StefanAntonio__ Ini loh pak @ganjarpranowo pa...,0,0,0,0,in,1537456169769349121,1729654241143267459,JoseMou82,https://twitter.com/JoseMou82/status/173001368...

In [33]:
# # Overview dataset
# data_2.head()

In [34]:
# Concatenate dataset
data = data_1.drop_duplicates(subset = ['tweet_url']).reset_index(drop = True)

# Check dimension
data.shape

(1256, 12)

In [35]:
# Save Result
data.to_csv(target_result, index=False)

### Mahfud MD

In [36]:
# Define path dataset
path_dataset = [
    "twitter_data/Mahfud_MD_1.csv", 
    "twitter_data/Mahfud_MD_1.2_.csv"
]
target_result = "final_dataset/twitter_mahfud_md.csv"

In [37]:
# Read dataset
data_1 = pd.read_csv(path_dataset[0].replace("\r", "/r"), sep=";")
data_1 = data_1.replace("", np.nan)

In [38]:
# Read dataset
data_2 = pd.read_csv(path_dataset[1].replace("\r", "/r"), sep=";")
data_2 = data_2.replace("", np.nan)

In [39]:
# Overview dataset
data_1.shape, data_2.shape

((269, 12), (188, 12))

In [40]:
# Overview dataset
data_1.isna().sum()

created_at             0
id_str                 0
full_text              0
quote_count            0
reply_count            0
retweet_count          0
favorite_count         0
lang                   0
user_id_str            0
conversation_id_str    0
username               0
tweet_url              0
dtype: int64

In [41]:
# Overview dataset
data_2.isna().sum()

created_at             0
id_str                 0
full_text              0
quote_count            0
reply_count            0
retweet_count          0
favorite_count         0
lang                   0
user_id_str            0
conversation_id_str    0
username               0
tweet_url              0
dtype: int64

In [42]:
# Overview dataset
data_1.head()

,created_at,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url
0,Wed Nov 29 23:59:57 +0000 2023,1730013760507810263,"Jangan khawatir, gabung pun pemenangnya tetap ...",0,0,0,2,in,1516257213848776706,1730013760507810263,Harsianto8,https://twitter.com/Harsianto8/status/17300137...
1,Wed Nov 29 23:50:22 +0000 2023,1730011350838243639,"@kompascom Sekedar mengingatkan, Mahfud MD ser...",0,0,0,1,in,1036621091161010177,1729859877177356639,D002832,https://twitter.com/D002832/status/17300113508...
2,Wed Nov 29 23:45:25 +0000 2023,1730010101992620519,@Gus_Raharjo Aku sih pilih Ganjar Pranowo dan ...,0,0,0,0,in,1677867913360084993,1729718931383058701,romelyjuju,https://twitter.com/romelyjuju/status/17300101...
3,Wed Nov 29 23:42:40 +0000 2023,1730009413262733737,@KATADATAcoid semangat pak Ganjar Pranowo dan ...,0,0,0,0,in,1687784305769189376,1729523942015246628,ERambawa67114,https://twitter.com/ERambawa67114/status/17300...
4,Wed Nov 29 23:40:13 +0000 2023,1730008796326723923,@TeddGus Terserah Lo aja tedd. Buat gw ga ngar...,0,0,0,0,in,340619855,1729338304095834597,sk_surdi,https://twitter.com/sk_surdi/status/1730008796...

In [43]:
# Overview dataset
data_2.head()

,created_at,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url
0,Wed Nov 29 23:59:57 +0000 2023,1730013760507810263,"Jangan khawatir, gabung pun pemenangnya tetap ...",0,0,0,2,in,1516257213848776706,1730013760507810263,Harsianto8,https://twitter.com/Harsianto8/status/17300137...
1,Wed Nov 29 23:50:22 +0000 2023,1730011350838243639,"@kompascom Sekedar mengingatkan, Mahfud MD ser...",0,0,0,1,in,1036621091161010177,1729859877177356639,D002832,https://twitter.com/D002832/status/17300113508...
2,Wed Nov 29 23:47:01 +0000 2023,1730010505094554022,@Paramitha234 @mohmahfudmd @ganjarpranowo Pasa...,0,0,1,2,in,1466806927401242626,1729889302379905142,FutraHr,https://twitter.com/FutraHr/status/17300105050...
3,Wed Nov 29 23:45:25 +0000 2023,1730010101992620519,@Gus_Raharjo Aku sih pilih Ganjar Pranowo dan ...,0,0,0,0,in,1677867913360084993,1729718931383058701,romelyjuju,https://twitter.com/romelyjuju/status/17300101...
4,Wed Nov 29 23:42:40 +0000 2023,1730009413262733737,@KATADATAcoid semangat pak Ganjar Pranowo dan ...,0,0,0,0,in,1687784305769189376,1729523942015246628,ERambawa67114,https://twitter.com/ERambawa67114/status/17300...

In [44]:
# Concatenate dataset
data = pd.concat([data_1, data_2]).drop_duplicates(subset = ['tweet_url']).reset_index(drop = True)

# Check dimension
data.shape

(275, 12)

In [45]:
# Save Result
data.to_csv(target_result, index=False)

### Gibran Rakabuming

In [46]:
# Define path dataset
path_dataset = [
    "twitter_data/Gibran_Rakabuming_1.csv", 
    "twitter_data/Gibran_Rakabuming_1.2_.csv"
]
target_result = "final_dataset/twitter_gibran_rakabuming.csv"

In [47]:
# Read dataset
data_1 = pd.read_csv(path_dataset[0].replace("\r", "/r"), sep=";")
data_1 = data_1.replace("", np.nan)

In [48]:
# Read dataset
data_2 = pd.read_csv(path_dataset[1].replace("\r", "/r"), sep=";")
data_2 = data_2.replace("", np.nan)

In [49]:
# Overview dataset
data_1.shape, data_2.shape

((69, 12), (322, 12))

In [50]:
# Overview dataset
data_1.isna().sum()

created_at             0
id_str                 0
full_text              0
quote_count            0
reply_count            0
retweet_count          0
favorite_count         0
lang                   0
user_id_str            0
conversation_id_str    0
username               0
tweet_url              0
dtype: int64

In [51]:
# Overview dataset
data_2.isna().sum()

created_at             0
id_str                 0
full_text              0
quote_count            0
reply_count            0
retweet_count          0
favorite_count         0
lang                   0
user_id_str            0
conversation_id_str    0
username               0
tweet_url              0
dtype: int64

In [52]:
# Overview dataset
data_1.head()

,created_at,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url
0,Wed Nov 29 23:55:10 +0000 2023,1730012558126682481,Akhir pekan ini capres dan cawapres nomor urut...,0,0,0,1,in,154102750,1730012558126682481,Beritasatu,https://twitter.com/Beritasatu/status/17300125...
1,Wed Nov 29 23:47:39 +0000 2023,1730010666415890648,"HARUS KONSEKUEN, SESUAI PREDIKATNYA YANG LEBIH...",0,0,0,2,in,2266842889,1730010666415890648,ZoelHayat,https://twitter.com/ZoelHayat/status/173001066...
2,Wed Nov 29 23:08:35 +0000 2023,1730000834333909385,Gibran Rakabuming Raka menanggai santai soal s...,1,4,0,0,in,23343960,1730000834333909385,kompascom,https://twitter.com/kompascom/status/173000083...
3,Wed Nov 29 22:09:06 +0000 2023,1729985865697681425,Ketua TKN Prabowo Subianto-Gibran Rakabuming R...,0,3,0,0,in,23343960,1729985865697681425,kompascom,https://twitter.com/kompascom/status/172998586...
4,Wed Nov 29 22:07:56 +0000 2023,1729985571014213740,Juru bicara TKN pasangan capres dan cawapres n...,0,5,0,0,in,23343960,1729985571014213740,kompascom,https://twitter.com/kompascom/status/172998557...

In [53]:
# Overview dataset
data_2.head()

,created_at,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url
0,Wed Nov 29 23:55:10 +0000 2023,1730012558126682481,Akhir pekan ini capres dan cawapres nomor urut...,0,0,0,1,in,154102750,1730012558126682481,Beritasatu,https://twitter.com/Beritasatu/status/17300125...
1,Wed Nov 29 23:47:39 +0000 2023,1730010666415890648,"HARUS KONSEKUEN, SESUAI PREDIKATNYA YANG LEBIH...",0,0,0,2,in,2266842889,1730010666415890648,ZoelHayat,https://twitter.com/ZoelHayat/status/173001066...
2,Wed Nov 29 23:08:35 +0000 2023,1730000834333909385,Gibran Rakabuming Raka menanggai santai soal s...,1,4,0,0,in,23343960,1730000834333909385,kompascom,https://twitter.com/kompascom/status/173000083...
3,Wed Nov 29 22:09:06 +0000 2023,1729985865697681425,Ketua TKN Prabowo Subianto-Gibran Rakabuming R...,0,3,0,0,in,23343960,1729985865697681425,kompascom,https://twitter.com/kompascom/status/172998586...
4,Wed Nov 29 22:07:56 +0000 2023,1729985571014213740,Juru bicara TKN pasangan capres dan cawapres n...,0,5,0,0,in,23343960,1729985571014213740,kompascom,https://twitter.com/kompascom/status/172998557...

In [54]:
# Concatenate dataset
data = pd.concat([data_1, data_2]).drop_duplicates(subset = ['tweet_url']).reset_index(drop = True)

# Check dimension
data.shape

(322, 12)

In [55]:
# Save Result
data.to_csv(target_result, index=False)

### Prabowo Subianto

In [56]:
# Define path dataset
path_dataset = [
    "twitter_data/Prabowo_Subianto_1.csv", 
    "twitter_data/Prabowo_Subianto_1.2_.csv"
]
target_result = "final_dataset/twitter_prabowo_subianto.csv"

In [57]:
# Read dataset
data_1 = pd.read_csv(path_dataset[0].replace("\r", "/r"), sep=";")
data_1 = data_1.replace("", np.nan)

In [58]:
# Read dataset
data_2 = pd.read_csv(path_dataset[1].replace("\r", "/r"), sep=";")
data_2 = data_2.replace("", np.nan)

In [59]:
# Overview dataset
data_1.shape, data_2.shape

((100, 12), (102, 12))

In [60]:
# Overview dataset
data_1.isna().sum()

created_at             0
id_str                 0
full_text              0
quote_count            0
reply_count            0
retweet_count          0
favorite_count         0
lang                   0
user_id_str            0
conversation_id_str    0
username               0
tweet_url              0
dtype: int64

In [61]:
# Overview dataset
data_2.isna().sum()

created_at             0
id_str                 0
full_text              0
quote_count            0
reply_count            0
retweet_count          0
favorite_count         0
lang                   0
user_id_str            0
conversation_id_str    0
username               0
tweet_url              0
dtype: int64

In [62]:
# Overview dataset
data_1.head()

,created_at,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url
0,Wed Nov 29 23:55:15 +0000 2023,1730012580595528120,yang menegaskan agar anggota KORPRI Kemhan dap...,0,0,0,5,in,714719021816541184,1730012575465889999,Kemhan_RI,https://twitter.com/Kemhan_RI/status/173001258...
1,Wed Nov 29 23:55:14 +0000 2023,1730012575465889999,"Momen Wamenhan, M. Herindra @herindra87, memim...",0,1,5,27,in,714719021816541184,1730012575465889999,Kemhan_RI,https://twitter.com/Kemhan_RI/status/173001257...
2,Wed Nov 29 23:55:10 +0000 2023,1730012558126682481,Akhir pekan ini capres dan cawapres nomor urut...,0,0,0,1,in,154102750,1730012558126682481,Beritasatu,https://twitter.com/Beritasatu/status/17300125...
3,Wed Nov 29 23:50:41 +0000 2023,1730011427820454264,"Presiden Jokowi adalah seorang presiden, mento...",0,0,0,0,in,1598344201409699841,1730011427820454264,TitaMar80993092,https://twitter.com/TitaMar80993092/status/173...
4,Wed Nov 29 23:49:10 +0000 2023,1730011046113632550,@barubikinlol Ganjar Pranowo? Prabowo Subianto...,0,2,1,42,in,593490220,1729852949877137761,Goodwindology,https://twitter.com/Goodwindology/status/17300...

In [63]:
# Overview dataset
data_2.head()

,created_at,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url
0,Wed Nov 29 23:55:15 +0000 2023,1730012580595528120,yang menegaskan agar anggota KORPRI Kemhan dap...,0,0,0,5,in,714719021816541184,1730012575465889999,Kemhan_RI,https://twitter.com/Kemhan_RI/status/173001258...
1,Wed Nov 29 23:55:14 +0000 2023,1730012575465889999,"Momen Wamenhan, M. Herindra @herindra87, memim...",0,1,5,27,in,714719021816541184,1730012575465889999,Kemhan_RI,https://twitter.com/Kemhan_RI/status/173001257...
2,Wed Nov 29 23:55:10 +0000 2023,1730012558126682481,Akhir pekan ini capres dan cawapres nomor urut...,0,0,0,1,in,154102750,1730012558126682481,Beritasatu,https://twitter.com/Beritasatu/status/17300125...
3,Wed Nov 29 23:50:41 +0000 2023,1730011427820454264,"Presiden Jokowi adalah seorang presiden, mento...",0,0,0,0,in,1598344201409699841,1730011427820454264,TitaMar80993092,https://twitter.com/TitaMar80993092/status/173...
4,Wed Nov 29 23:49:10 +0000 2023,1730011046113632550,@barubikinlol Ganjar Pranowo? Prabowo Subianto...,0,2,1,43,in,593490220,1729852949877137761,Goodwindology,https://twitter.com/Goodwindology/status/17300...

In [64]:
# Concatenate dataset
data = pd.concat([data_1, data_2]).drop_duplicates(subset = ['tweet_url']).reset_index(drop = True)

# Check dimension
data.shape

(107, 12)

In [65]:
# Save Result
data.to_csv(target_result, index=False)